<h1>会員一覧</h1>
<table class='table table-hover table-inverse'>
  <tr>
    <th>会員ID</th>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
    <th colspan="4"></th>
  </tr>

  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= link_to customer.full_name, admin_customer_path(customer.id) %></td>
      <td><%= customer.email %></td>
      <td><% if customer.is_active == true %>
          	<p>有効</p>
          <% elsif customer.is_active == false %>
          	<p>退会</p>
          <% end %>
      </td>
    </tr>
  <% end %>
</table>